<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>botones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">botones</ion-title>
    </ion-toolbar>

    
  </ion-header>

<ion-toggle>Default Toggle</ion-toggle><br /><br />
<ion-toggle [checked]="true">Checked Toggle</ion-toggle><br /><br />
<ion-toggle [disabled]="true">Disabled Toggle</ion-toggle><br /><br />
<ion-toggle [checked]="true" [disabled]="true">Disabled Checked Toggle</ion-toggle>
<ion-toggle [enableOnOffLabels]="true">Enable Notifications</ion-toggle>


<ion-list>
  <ion-item>
    <ion-toggle>Receive Push Notifications</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-toggle>Receive Emails</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-toggle>Receive Text Messages</ion-toggle>
  </ion-item>
</ion-list>

<ion-toggle labelPlacement="start">Label at the Start</ion-toggle><br /><br />
<ion-toggle labelPlacement="end">Label at the End</ion-toggle><br /><br />
<ion-toggle labelPlacement="fixed">Fixed Width Label</ion-toggle><br /><br />
<ion-toggle labelPlacement="stacked">Stacked Label</ion-toggle>

<ion-toggle labelPlacement="stacked" alignment="start">Aligned to the Start</ion-toggle><br /><br />
<ion-toggle labelPlacement="stacked" alignment="center">Aligned to the Center</ion-toggle>
<ion-button color="primary" routerLink="/inicio">inicio</ion-button>

</ion-content>
