<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cars</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6wH01Q93kjyBosmkYzsKFKzZyaDQ1pSSPPg&s" />
    
    <ion-fab>
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="color-palette"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-card-header>

      
      <ion-button aria-label="Favorite">
        <ion-icon name="heart" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-card-title>AMLO MAMADO</ion-card-title>
      <ion-card-subtitle>ESTAAAAA MAMADISIMOOOOOOOOOOOOOOOOOOOO</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  

  



  <ion-button color="primary" routerLink="/inicio">inicio</ion-button>

</ion-content>




